<h1>Coin Combination</h1>
<form class="" action="/result" method="get">
  <div class="form-group">
    <label for="change">Enter an amount to see the coin breakdown:</label>
    <input id="change" name="change" class="form-control" type="number">
  </div>
  <button type="submit" class="btn btn-info">Show my change!</button>
</form>
